* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Overpass", sans-serif;
    background-color: #fafafa;
}

.mobmenucontainer {
    display: none;
}

a {
    font-family: "Overpass", sans-serif;
}

.header {
    width: 100%;
    height: 400px;
    border-radius: 0px 0px 0px 100px;
    /*background-color: linear-gradient(90deg, rgba(255, 136, 112, 1) 0%, rgba(255, 68, 87, 1) 61%);*/
    background: url(images/bg-pattern-intro.svg), linear-gradient(90deg, rgba(255, 136, 112, 1) 0%, rgba(255, 68, 87, 1) 61%);
    background-repeat: no-repeat;
    background-size: 2300px;
    background-position-y: center;
    background-position-x: -300px;
    position: relative;
    display: block;
}


/*.backimage {
    position: absolute;
    height: 600px;
    border: solid black;
    top: 0px;
    right: 0px;
} */

.inner_header {
    max-width: 1000px;
    margin: 0px auto;
    display: block;
    height: 100px;
    padding: 0px 20px;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.navigation {
    float: left;
    height: 100%;
}

.navigation .dropdown {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation .dropdown button {
    display: table-cell;
    vertical-align: middle;
    height: 100px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.dropbutton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navigation .dropdown:first-child {
    margin-left: 40px;
}

.arrowicon {
    margin-left: 5px;
    margin-bottom: 2px;
}


/*.arrowicon:hover {
    transform: rotate(180deg);
}*/


/* DROPDOWN MENU */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    margin: -20px 0px 0px -20px;
    padding: 30px 0px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Overpass", sans-serif;
}

.dropdown-content a:hover {
    font-weight: 600;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .arrowicon {
    transform: rotate(180deg);
}

.dropdown:hover .dropbutton {
    color: #fff;
}


/*
.login-signup {
    float: right;
    height: 100%;
}

.login-signup a {
    height: 60%;
    display: table;
    float: left;
    padding: 0px 40px;
    margin-top: 20px;
}



.login-signup a:last-child {
    padding-right: 0px;
}



.login-signup a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: hsl(356, 100%, 66%);
    font-size: 16px;
    font-family: "Overpass", sans-serif;
}

.btndesign {
    background-color: #fff;
    font-weight: 600;
    border-radius: 30px;
}



.btndesign:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
*/

.login-signup {
    float: right;
    height: 100%;
}

.login-signup li {
    height: 50%;
    display: table;
    float: left;
    padding: 0px 0px;
    margin-top: 30px;
}

.login-signup li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-family: "Overpass", sans-serif;
    padding: 0px 40px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
}

.login-signup li a:hover {
    color: #fff;
}

.login-signup .btndesign {
    color: hsl(356, 100%, 66%);
    background-color: #fff;
    border-radius: 30px;
    font-weight: 600;
}

.login-signup .btndesign:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.header-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    color: #fff;
}

.header-content h1 {
    margin: 0px 0px 20px 0px;
    font-size: 3.4em;
}

.header-content p {
    margin-bottom: 20px;
}


/*
.header-content ul {
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
}

.header-content ul li {
    background-color: #fff;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 30px;
    display: block;
}

.header-content ul li a {
    display: block;
    color: hsl(356, 100%, 66%);
}
*/

.header-content .btndesignsecond {
    display: grid;
    grid-template-columns: 160px 160px;
    /*justify-content: center;*/
    width: 340px;
    margin: auto;
}

.btndesignsecond a {
    margin: 10px;
    background-color: #fff;
    color: hsl(356, 100%, 66%);
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: 600;
}

.btndesignsecond a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}


/* MAIN CONTENT STARTS HERE */

.main {
    width: 100%;
    /*height: 900px;*/
    position: relative;
    /*background-image: url(images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: 850px;
    background-position-x: 148%;
    background-position-y: 50px;*/
}

.inner_main {
    max-width: 1000px;
    margin: 0px auto;
    color: hsl(208, 49%, 24%);
}

.inner_main h1 {
    padding-top: 100px;
    text-align: center;
}

.editor-content {
    display: grid;
    grid-template-columns: 500px 300px;
    height: 750px;
    margin-top: 80px;
    padding-left: 20px;
}

.editor-content h3 {
    margin: 50px auto 25px;
}

.editor-content p {
    line-height: 25px;
}

#editordesktop {
    height: 750px;
    width: 42%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    right: 0px;
    top: 50px;
}

#editormobile {
    display: none;
}

.inner-main2 {
    width: 100%;
    height: 400px;
    border-radius: 0px 100px 0px 100px;
    background: /*url(images/bg-pattern-circles.svg),*/
    linear-gradient(90deg, rgba(46, 47, 65, 1) 13%, rgba(61, 64, 99, 1) 69%);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: center;
    position: relative;
    z-index: -2;
    margin-top: -100px;
}

.backimg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400px;
    width: 950px;
    object-fit: cover;
    object-position: -210px -450px;
    z-index: -1;
}

.in-inner-main2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: auto;
    color: #fff;
    align-items: center;
    padding-right: 20px;
}

.in-inner-main2 img {
    margin: -70px 15px 0px -10px;
}

.in-inner-main2 h1 {
    margin: -90px 0px 20px 0px;
}

.in-inner-main2 p {
    line-height: 25px;
}

#laptopmobile {
    display: none;
}

.in-main3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1000px;
}

.in-main3 img {
    position: absolute;
    left: 0px;
    bottom: 100px;
    width: 640px;
    height: 800px;
    object-fit: cover;
    object-position: -285px 0px;
}

.in-in-main3 {
    grid-column-start: 2;
    max-width: 500px;
    margin: auto;
    margin-top: 280px;
    color: hsl(208, 49%, 24%);
}

.in-in-main3 h3 {
    margin: 50px 0px 25px;
}

.in-in-main3 p {
    line-height: 25px;
}


/* FOOTER */

footer {
    width: 100%;
    border-radius: 0px 100px 0px 0px;
    background: hsl(240, 10%, 16%);
}

.footer {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 20px 60px;
    color: #fff;
}

.footer h4 {
    margin-bottom: 20px;
}

.footer li {
    margin-top: 10px;
}

.footer a {
    color: rgba(255, 255, 255, 0.8);
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}